.label{
    margin-right: 10px;
    background-color: burlywood;
    padding: 7px 5px;
}
.label a{
    color: black;
}
.blog-des .des{
   text-align: center; 
}
.color{
    color: beige;
}
.form .form__article .place{
    text-align: center;
    width: 100%;
    padding: 10px;
}
.form .form__article .select{
   padding: 20px;
}
.delete_a{
    background-color: rgb(219, 151, 50);
    color: rgb(134, 10, 10);
    padding: 5px 7px;
    border-radius: 2px;
    font-size: 15px;
    line-height: 1em;
}
.create-page{
    background: rgb(165, 45, 75);
}
.form__article .mdl-grid, .form__action{
    justify-content: center;
}
.ui-tables .mdl-button{
    padding-left: 10px;
    padding-right: 10px;
    background-color: brown;
}